html{
  background-color: chocolate;
}

tbody {
  font-weight: bold;
}

.outer {
  border: 5px solid black;
}

.box {
  padding: 50px;
  width: calc(50%);
  background-color: rebeccapurple;
  color: white;
  text-align: center;
}

.bt-del {
  color: red;
  font-weight: bold;
}


/* button submit */
.bt-sbt {
  color: green;
  font-weight: bold;
}

/* ADD PET section */
.pet-add {
  background-color: aqua;
  text-transform: uppercase;
}

.pet-list {
  background-color: chocolate;
}

/* underline for pet name and type form */
label {
  text-decoration-line: underline;
}

th {
  font-family: 
    monospace;
  font-size: xx-large;
  color: sienna;
}

h1 {
  color: rgb(8, 0, 244);
}



/* -------------------- */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
